header
{
text-align:center;
background-image: url(backg.jpeg);
background-size: cover;
background-attachment: fixed;

font-family:comic sans ms;
padding:15px;
color:white;
font-size:25px;
}
body
{
margin:0; 
background-image:url(bbbb.jpg);
background-size: cover;
background-attachment: fixed;
color:black;
}
nav a
{
background-color: black;
border-bottom-left-radius:16px;
border-top-right-radius:16px;
color: white;
padding:20px;
text-decoration:none;
font-family:comic sans ms;
}
nav a:hover
{
background-color:purple;
color:white;
border-bottom-left-radius:16px;
border-top-right-radius:16px;
}
footer
{
background-color: black;
font-family:Footlight MT Light;
color:white;
padding:5px;
text-align: center;
}
h1
{
font-family: algerian;
}
h2
{
font-family: lucida calligraphy;
}
form
{
font-family: comic sans ms;
}
footer
{
padding: 25px;
}
table
{
background-image: url(background.jpg);
border-radius: 25px;
padding:50px;
}
input, textarea
{
background-color: black;
color: white;
padding:10px;
border-radius: 25px;
}
.hh
{
background-color: lightgreen;
color: black;
border-radius: 25px;
padding: 8px;
}
.hhhh
{
color: white;
background-color: purple;
}