header
{
background-image: url(backg.jpeg);
background-size: cover;
background-attachment: fixed;
text-align:center;
font-family:comic sans ms;
padding:15px;
color:white;
font-size:25px;
}
body
{
margin:0; 
background-image:url(bbbb.jpg);
background-size: cover;
background-attachment: fixed;
color:black;
}
nav a
{
background-color: black;
border-bottom-left-radius:16px;
border-top-right-radius:16px;
color: white;
padding:20px;
text-decoration:none;
font-family:comic sans ms;
}
nav a:hover
{
background-color:purple;
color:white;
border-bottom-left-radius:16px;
border-top-right-radius:16px;
}
li
{
text-decoration: none;
font-family:#333;
}
p
{
width: 45px;
}
footer
{
background-color: black;
font-family:Footlight MT Light;
color:white;
padding:5px;
text-align: center;
}
h1
{
font-family: comic sans ms;
}
ul
{
font-family:Yu Gothic UI Semilight;
}
footer
{
padding: 25px;
}
.hhhh
{
color: white;
background-color: purple;
}